/* Styling for 55 Retirement Places 'maps' 20161009
   License: Team Trosclair
*/

// This is styling for the main map on the communities page

#map {
  //outline: 3px solid orange;
  margin-top: 1.5%;
  border-radius: 10px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5%;
  max-height: 350px;
  //max-width: 617px;
  min-height: 350px;
  //min-width: 617px;
  // #map {   min-height: 600px;
  //   min-width: 800px;
  // }

}

// apply any styling for individual maps here...

#map-community {
  margin-top: 1.5%;
  border-radius: 10px;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 1.5%;
  max-height: 350px;
  //max-width: 617px;
  min-height: 350px;
  //min-width: 617px;
  // #map {   min-height: 600px;
  //   min-width: 800px;
  // }

}

div #map {
    border-radius: 10px;
}



//
