@import 'reset';

body {
  font-family: Helvetica, Verdana, sans-serif;
  //background-color: #adadad;
  background-color: #000;
}

.container {
  //background-color: #E6E6E6;
  //border: solid 1px #555;
  margin: 0 auto;
  //max-width: 960px;
  width:96%;
  overflow: auto;
}

nav {
  //background-color: #555;
  background-color: rgba(0,0,0,0.5);
  height: 50px;
  position: fixed;
  width:96%;
  letter-spacing: .2em;
  z-index: 100;
  padding-top:12px;
  padding-bottom: 12px;
  padding-left: 10px;
}

nav ul li {
  float: right;
  margin: 0 20px;
  }

nav ul li:last-child:hover{
  background-color: #000;
  color: #fff;
}

nav li a {
  color: beige;
  text-decoration: none;
}

nav h1 {
  color: beige;
  //float:left; goes left by default
  font-size: 2em;
  //padding-top:10px;
}

.banner {
  background: url('./images/header_test1.jpg') fixed;
  /* NO tiling; */
  //border: 1px solid red;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 350px;
  padding-top: 150px;
  //width: 100%;
  position: relative;
}

.banner h1 {
  color:beige;
  font-size: 72px;
  text-align: center;
  margin-top: 50px;
  z-index: -1000;
}




.ntx-heading {
  //border: 1px solid #adadad;
  border-radius: 10px;
  font-family: Gotham SSm A, Helvetica, Verdana, sans-serif;
  //background-color: #EEE;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.3em;
  padding: 10px;
  text-align: center;
  transition: background-color 7.0s ease;
  //background-color: #fff;
  background-colr: #000;
  color: #fff;
  //margin-top: 40px;
  letter-spacing: 2px;
}

.ntx-heading:hover {
  background-color: beige;
  color: #000;
}

#map {
  border-radius: 10px;
  text-align: center;
  //background-color: red;
  max-width: 70%;
  //height:400px;
  //background: url('./images/Robson-Ranch-Map.jpg');
  //background-size: cover;
  margin: 0 auto;
  margin-bottom: 1.5%;
  max-height: 350px;
  //max-width: 617px;
  min-height: 350px;
  //min-width: 617px;
  // #map {   min-height: 600px;
  //   min-width: 800px;
  // }

}

.communities .community {
  float: left;
	padding: 1%;
	width: 31.3333333%;
}

.communities img {
	max-width: 100%;
}

.communities h2 {
  font-size: 1.2em;
}

.communities p {
  line-height: 1.2em;
  margin: 10px 0;
}


//moved from landing-page mockup

.img-container {
	float: left;
	margin: .65%;
	width: 31%;
}

.img-container img {
	width: 100%;
}

.box {
  border-radius: 10px;
	float: left;
	height: 200px;
	position: relative;
}

.box-1 {
  border-radius: 10px;
	background-color: red;
	background-image: url(./images/robson_ranch.jpg);
	background-position: center;
	background-size: cover;
	margin: 1.5% 1.5% 1.0% 0%;
	width: 22.5%;
}

.box-5 {
	background-color: red;
	background-image: url(./images/villas_in_the_park.jpg);
	background-position: center;
	background-size: cover;
	margin: 1.5% 1.5% 1.5% 0%;
	width: 22.5%;
}

.box-9 {
	background-color: red;
	background-image: url(./images/village_at_prestonwood.jpg);
	background-position: center;
	background-size: cover;
	margin: 1.5% 1.5% 1.5% 0%;
	width: 22.5%;
}

.box-13 {
	background-color: red;
	background-image: url(./images/the_legends.jpg);
	background-position: center;
	background-size: cover;
	margin: 1.5% 1.5% 3% 0%;
	width: 22.5%;
}

.box-2 {
	background-color: green;
	background-image: url(./images/frisco_lakes_clubhouse.jpg);
	background-position: center;
	background-size:cover;
	margin: 1.5% 1.5% 1.5% 1.5%;
	width: 22.5%;
}

.box-6 {
	background-color: green;
	background-image: url(./images/ladera_mansfield.jpg);
	background-position: center;
	background-size:cover;
	margin: 1.5% 1.5% 1.5% 1.5%;
	width: 22.5%;
}

.box-10 {
	background-color: green;
	background-image: url(./images/villas_of_stone_glen.jpg);
	background-position: center;
	background-size:cover;
	margin: 1.5% 1.5% 1.5% 1.5%;
	width: 22.5%;
}

.box-14 {
	background-color: green;
	background-image: url(./images/cottages_at_lyndhurst.jpg);
	background-position: center;
	background-size:cover;
	margin: 1.5% 1.5% 3% 1.5%;
	width: 22.5%;
}

.box-3 {
	background-color: orange;
	background-image: url(./images/heritage_ranch.jpg);
	background-position: center;
	background-size:cover;
	margin: 1.5% 1.5% 1.5% 1.5%;
	width: 22.5%;
}

.box-7 {
	background-color: orange;
	background-image: url(./images/isabella_village_savannah.jpg);
	background-position: center;
	background-size:cover;
	margin: 1.5% 1.5% 1.5% 1.5%;
	width: 22.5%;
}

.box-11 {
	background-color: orange;
	background-image: url(./images/tuscan_hills.jpg);
	background-position: center;
	background-size:cover;
	margin: 1.5% 1.5% 1.5% 1.5%;
	width: 22.5%;
}

.box-4 {
	background-color: blue;
	background-image: url(./images/craig_ranch.jpg);
	background-position: center;
	background-size: cover;
	margin: 1.5% 1% 1.5% 1.5%;
	width: 22.5%;
}

.box-8 {
	background-color: blue;
	background-image: url(./images/villas_at_willow_grove.jpg);
	background-position: center;
	background-size: cover;
	margin: 1.5% 1% 1.5% 1.5%;
	width: 22.5%;
}

.box-12 {
	background-color: blue;
	background-image: url(./images/orchard_flower.jpg);
	background-position: center;
	background-size: cover;
	margin: 1.5% 1% 1.5% 1.5%;
	width: 22.5%;
}

.overlay {
  border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
}

.box:hover .overlay {
	background-color: rgba(0, 0, 0, 0.6);
}

.overlay .content {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	transition: 0.2s;
}

.box:hover .content {
	bottom: 15px;
}

.overlay .view-community {
	border: solid 1px #FFF;
  border-radius: 7px;
	opacity: 0;
	margin: 20px auto;
	max-width: 130px;
	padding: 10px;
	transition: 0.2s;
	transition-property: bottom;
}

.box:hover .view-community {
	opacity: .6;
}

.view-community:hover {
	background-color: #000;
	color: #fff;
}

.overlay .heading {
	font-family: "Verlag A", "Verlag B", "Helvetica", "Arial", sans-serif;
	font-size: 1.8em;
	font-weight: 100;
  letter-spacing: 2px;
	line-height: 1.1em;
	margin-top: 100px auto;
	margin-bottom: 0.15em;
	text-align: center;
	text-shadow: 2px 0px 5px rgba(0,0,0,0.2);
}

.overlay .desc {
	font-size: 1em;
  letter-spacing: .1em;
	line-height: 1.2em;
	font-weight: 100;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-align: center;
}

// moved from mockup


footer {
  background-color: #555;
  clear: both;
  color: beige;
  letter-spacing: .1em;
  padding: 20px;
}



@media screen and (max-width: 750px) {
	.communities .community {
		border-top: solid 1px #000;
	  float: none;
		padding: 40px 20px;
		width: auto;
	}
}

@media (max-width: 600px) {
	nav li {
		float: none;
		padding: 5px 0px;
	}

	nav li a {
		text-decoration: none;
	}
}


.the-list li {
 color: #636363;
 list-style-type: disc;
 line-height: 1.2em;
 margin: 10px 0;
}

.listings-button {
 background-color: #c33;
 border: 1px solid #fff;
 border-radius: 8px;
 color: #FFF;
 width: 150px;
 float: left;
 font-size: 1em;
 display: inline-block;
 padding: 10px;
 text-align:center;
 clear:both;
}

.listings-button a {
  border-radius: 8px;
  text-decoration: none;
  color: #FFF;
  clear:both;
}

//
// react styling
//

#app {
	//border: solid 3px #fff;
  //border: solid 3px #3A3A3A;
  padding: 40px;
  color: #fff;
  overflow:auto;
  width: 90%;
  text-align:center;
}


.detail-container{

}

#main-pic img {
  border-radius: 8px;
  margin: auto;
  text-align:center;
  //border: 1px solid red;
  margin-bottom: 20px;
  //width: 400px;
  max-width: 400px;
  max-height:300px;
  min-width: 400px;
  min-height: 300px;
}

#thumbnails img {
  border-radius: 8px;
  float:left;
  text-align:center;
  max-width: 100px;
  max-height:65px;
  min-width: 100px;
  min-height: 65px;
  padding: 5px;
  //clear:both;
}

#thumbnails img:hover {
  //#thumbnails img:hover
  //outline: 3px solid blue;
  box-shadow: 0 0 8px 8px cyan inset;
  //box-shadow: 0 0 8px 8px blue inset;
}


#listing-detail {
   //border: 3px solid green;
   float:left;
   clear:both;
   text-align:left;
   margin-top: 50px;
}


.return-listings-button {
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #c33;
  color: #FFF;
  width: 150px;
  float: left;
  font-size: 1em;
  //display: inline-block;
  padding: 10px;
  text-align:center;
  clear:both;
  margin-top: 10px;
}


.return-listings-button a {
  border-radius: 8px;
  text-decoration: none;
  color: #FFF;
}

// Google map integration - communities














//

// Form styling

  @import url(https://fonts.googleapis.com/css?family=Ubuntu);
  @import url(https://fonts.googleapis.com/css?family=Dancing+Script);
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  @import url(https://fonts.googleapis.com/css?family=Exo);
  @import url(https://fonts.googleapis.com/css?family=Play);


  .form-container{
      //border: 8px solid red;
      margin: 0 auto;
      padding: 0;
      background:  #000 url('/images/header_test1.jpg') no-repeat center center fixed;
     background-size:cover;
     height:100vh;
      width:96%;
      overflow:auto;
  }

  .form-content{
    margin-top: 80px;

  }


  form{
    background-color: rgba(0, 0,0, 0.5);
    padding: 2em 4em 2em;
    max-width: 400px;
    margin: 20px auto ;
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
  }
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none
  }
  input[type="password"],
  input[type="text"]{
    padding:20px;
    margin:2%;
    border-radius:10px;
    background:rgba(0,0,0,0.7)
  }
  input[type="text"],
  input[type="password"]{
    outline:none;
  }
  input[type="text"]:focus,
  input[type="password"]:focus{
    background:rgba(255,255,255,1);
  }
  input::-webkit-input-placeholder{
  font-family: 'Play', sans-serif;
  letter-spacing:3px;
  text-align:center;
  font-weight:bolder;
  font-size: 1.3em;
  }

  .form{
    width:50%;
    margin:auto;
    font-weight:bolder;
  }
  .form button{
    float:right;
    margin-right:10px;
    background:none;
    color:#fff;
    border:none;
    cursor:pointer;
    font-family: 'Exo', sans-serif;
    margin-top:2%;
    font-size:1.75em;
    outline:none;
  }

  form button:hover{
    color:#FF8C00;
  }
  input[type="submit"] {
   width:150px;
   padding:.8em;
   background:none;
   border:none;
   border-radius:5px;
   font-size:1em;
   color:#fff;
   margin-left:30%;
   border:1px solid #fff;
    cursor:pointer;
  }
  input[type="submit"]:hover{
    background:rgba(255,255,255,0.7);
    color:#222;
  }

  .group:after{
    display:table;
    content:" ";
    clear:both;
  }

  #form-input {
    margin-top:20px;
  }

  #form-submit{
    margin-top: 30px;
  }

  #form-footer {
    color: #fff;
  }



//
